In [1]:
import pandas as pd
import numpy as np
import matplotlib
%matplotlib inline

In [2]:
train=pd.read_csv("traindata.csv")
test=pd.read_csv("testdata.csv")
sample_submit=pd.read_csv("Result Evaluation.csv")

In [3]:
train.columns

Index(['ID', 'var3', 'var15', 'imp_ent_var16_ult1', 'imp_op_var39_comer_ult1',
       'imp_op_var39_comer_ult3', 'imp_op_var40_comer_ult1',
       'imp_op_var40_ult1', 'imp_op_var41_comer_ult1',
       'imp_op_var41_comer_ult3',
       ...
       'saldo_medio_var13_medio_ult1', 'saldo_medio_var17_ult3',
       'saldo_medio_var29_hace2', 'saldo_medio_var29_hace3',
       'saldo_medio_var29_ult1', 'saldo_medio_var33_hace3',
       'saldo_medio_var33_ult3', 'saldo_medio_var44_hace3', 'var38', 'TARGET'],
      dtype='object', length=215)

In [4]:
train.shape

(13999, 215)

In [5]:
train.head()

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_ult1,imp_op_var41_comer_ult1,imp_op_var41_comer_ult3,...,saldo_medio_var13_medio_ult1,saldo_medio_var17_ult3,saldo_medio_var29_hace2,saldo_medio_var29_hace3,saldo_medio_var29_ult1,saldo_medio_var33_hace3,saldo_medio_var33_ult3,saldo_medio_var44_hace3,var38,TARGET
0,142882,2,55,30.0,17.73,17.73,0.00,0.0,17.73,17.73,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,59375.97,2807855.303
1,116073,2,26,0.0,0.00,0.00,0.00,0.0,0.00,0.00,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117951.42,0.000
2,40727,2,31,180.0,1051.86,1145.91,0.00,0.0,1051.86,1145.91,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,81164.61,0.000
3,96753,89,55,0.0,1353.03,1998.81,990.75,0.0,362.28,362.28,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,137912.85,0.000
4,105319,2,24,0.0,0.00,0.00,0.00,0.0,0.00,0.00,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,40407.66,0.000

train.loc[train['TARGET']>0,'Target_Class']=1

train.loc[train['Target_Class'].isna(),'Target_Class']=0

In [6]:
train['Target_Class']=np.where(train['TARGET']>0,1,0)

In [7]:
train.head()

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_ult1,imp_op_var41_comer_ult1,imp_op_var41_comer_ult3,...,saldo_medio_var17_ult3,saldo_medio_var29_hace2,saldo_medio_var29_hace3,saldo_medio_var29_ult1,saldo_medio_var33_hace3,saldo_medio_var33_ult3,saldo_medio_var44_hace3,var38,TARGET,Target_Class
0,142882,2,55,30.0,17.73,17.73,0.00,0.0,17.73,17.73,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,59375.97,2807855.303,1
1,116073,2,26,0.0,0.00,0.00,0.00,0.0,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117951.42,0.000,0
2,40727,2,31,180.0,1051.86,1145.91,0.00,0.0,1051.86,1145.91,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,81164.61,0.000,0
3,96753,89,55,0.0,1353.03,1998.81,990.75,0.0,362.28,362.28,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,137912.85,0.000,0
4,105319,2,24,0.0,0.00,0.00,0.00,0.0,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,40407.66,0.000,0

In [8]:
test.columns

Index(['ID', 'var3', 'var15', 'imp_ent_var16_ult1', 'imp_op_var39_comer_ult1',
       'imp_op_var39_comer_ult3', 'imp_op_var40_comer_ult1',
       'imp_op_var40_ult1', 'imp_op_var41_comer_ult1',
       'imp_op_var41_comer_ult3',
       ...
       'saldo_medio_var13_medio_hace3', 'saldo_medio_var13_medio_ult1',
       'saldo_medio_var17_ult3', 'saldo_medio_var29_hace2',
       'saldo_medio_var29_hace3', 'saldo_medio_var29_ult1',
       'saldo_medio_var33_hace3', 'saldo_medio_var33_ult3',
       'saldo_medio_var44_hace3', 'var38'],
      dtype='object', length=214)

In [9]:
test.head()

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_ult1,imp_op_var41_comer_ult1,imp_op_var41_comer_ult3,...,saldo_medio_var13_medio_hace3,saldo_medio_var13_medio_ult1,saldo_medio_var17_ult3,saldo_medio_var29_hace2,saldo_medio_var29_hace3,saldo_medio_var29_ult1,saldo_medio_var33_hace3,saldo_medio_var33_ult3,saldo_medio_var44_hace3,var38
0,64252,2,42,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0.0,0,0,0,0.0,0.0,0.0,117310.979
1,31278,2,38,0.0,509.7,509.7,0.0,0.0,509.7,509.7,...,0,0,0.0,0,0,0,0.0,0.0,0.0,42403.350
2,148245,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0.0,0,0,0,0.0,0.0,0.0,238795.140
3,133657,2,25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0.0,0,0,0,0.0,0.0,0.0,105854.070
4,68463,2,25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0.0,0,0,0,0.0,0.0,0.0,81031.830

In [10]:
train['Source']='train'
test['Source']='test'

In [11]:
df=pd.concat([train,test],axis=0,sort=False,ignore_index=True)

In [12]:
df.head()

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_ult1,imp_op_var41_comer_ult1,imp_op_var41_comer_ult3,...,saldo_medio_var29_hace2,saldo_medio_var29_hace3,saldo_medio_var29_ult1,saldo_medio_var33_hace3,saldo_medio_var33_ult3,saldo_medio_var44_hace3,var38,TARGET,Target_Class,Source
0,142882,2,55,30.0,17.73,17.73,0.00,0.0,17.73,17.73,...,0.0,0.0,0.0,0.0,0.0,0.0,59375.97,2807855.303,1.0,train
1,116073,2,26,0.0,0.00,0.00,0.00,0.0,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,117951.42,0.000,0.0,train
2,40727,2,31,180.0,1051.86,1145.91,0.00,0.0,1051.86,1145.91,...,0.0,0.0,0.0,0.0,0.0,0.0,81164.61,0.000,0.0,train
3,96753,89,55,0.0,1353.03,1998.81,990.75,0.0,362.28,362.28,...,0.0,0.0,0.0,0.0,0.0,0.0,137912.85,0.000,0.0,train
4,105319,2,24,0.0,0.00,0.00,0.00,0.0,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,40407.66,0.000,0.0,train

In [13]:
for x in df.columns:
    if df[x].sum()==0:
        print(x)
        df.drop(columns=x, axis=1, inplace=True)

ind_var13_medio_0
ind_var18_0
ind_var27_0
ind_var46_0
ind_var46
num_var13_medio
num_var28
num_var34_0
num_var34
num_var41
num_var46_0
saldo_var13_medio
saldo_var18
saldo_var28
saldo_var41
imp_amort_var18_hace3
imp_reemb_var17_hace3
imp_reemb_var33_hace3
imp_trasp_var17_in_hace3
imp_trasp_var17_out_hace3
imp_trasp_var33_out_ult1
num_var2_0_ult1
num_var2_ult1
num_reemb_var13_hace3
num_trasp_var17_in_hace3
num_trasp_var17_out_hace3
num_trasp_var33_out_hace3
saldo_var2_ult1
saldo_medio_var13_medio_hace3
saldo_medio_var13_medio_ult1

In [224]:
 df.duplicated().sum()

0

In [286]:
X=[x for x in df.columns if x not in (['ID','Source','TARGET','Target_Class'])]
X_train=df[X]
X_train.head()

,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_ult1,imp_op_var41_comer_ult1,imp_op_var41_comer_ult3,imp_op_var41_efect_ult1,...,saldo_medio_var13_largo_ult1,saldo_medio_var13_largo_ult3,saldo_medio_var17_ult3,saldo_medio_var29_hace2,saldo_medio_var29_hace3,saldo_medio_var29_ult1,saldo_medio_var33_hace3,saldo_medio_var33_ult3,saldo_medio_var44_hace3,var38
0,2,55,30.0,17.73,17.73,0.00,0.0,17.73,17.73,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,59375.97
1,2,26,0.0,0.00,0.00,0.00,0.0,0.00,0.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117951.42
2,2,31,180.0,1051.86,1145.91,0.00,0.0,1051.86,1145.91,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,81164.61
3,89,55,0.0,1353.03,1998.81,990.75,0.0,362.28,362.28,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,137912.85
4,2,24,0.0,0.00,0.00,0.00,0.0,0.00,0.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,40407.66

In [287]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
df_mod = sc_X.fit_transform(X_train)
df_mod=pd.DataFrame(df_mod,columns=X)
df_mod=pd.concat([df_mod,df['ID']],axis=1)
df_mod=pd.merge(df_mod,df[['ID','Target_Class','Source','TARGET']],how='left')

In [288]:
df_mod.head()

,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_ult1,imp_op_var41_comer_ult1,imp_op_var41_comer_ult3,imp_op_var41_efect_ult1,...,saldo_medio_var29_hace3,saldo_medio_var29_ult1,saldo_medio_var33_hace3,saldo_medio_var33_ult3,saldo_medio_var44_hace3,var38,ID,Target_Class,Source,TARGET
0,0.033325,1.643091,-0.038702,-0.158883,-0.187514,-0.040374,-0.03787,-0.156793,-0.186477,-0.120894,...,-0.007106,-0.007106,-0.014935,-0.017771,-0.011617,-0.489910,142882,1.0,train,2807855.303
1,0.033325,-0.578956,-0.054498,-0.209579,-0.220605,-0.040374,-0.03787,-0.209609,-0.221135,-0.120894,...,-0.007106,-0.007106,-0.014935,-0.017771,-0.011617,0.027565,116073,0.0,train,0.000
2,0.033325,-0.195844,0.040278,2.798044,1.918121,-0.040374,-0.03787,2.923813,2.018884,-0.120894,...,-0.007106,-0.007106,-0.014935,-0.017771,-0.011617,-0.297422,40727,0.0,train,0.000
3,0.035937,1.643091,-0.054498,3.659191,3.509973,13.599385,-0.03787,0.869599,0.487048,-0.120894,...,-0.007106,-0.007106,-0.014935,-0.017771,-0.011617,0.203911,96753,0.0,train,0.000
4,0.033325,-0.732200,-0.054498,-0.209579,-0.220605,-0.040374,-0.03787,-0.209609,-0.221135,-0.120894,...,-0.007106,-0.007106,-0.014935,-0.017771,-0.011617,-0.657483,105319,0.0,train,0.000

In [289]:
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA
%matplotlib inline

In [357]:
n_components=60
pca = PCA(n_components)
cols=[]
for i in range(n_components):
    nm='PCA'+str(i+1)
    cols.append(nm)

In [358]:
print(cols)

['PCA1', 'PCA2', 'PCA3', 'PCA4', 'PCA5', 'PCA6', 'PCA7', 'PCA8', 'PCA9', 'PCA10', 'PCA11', 'PCA12', 'PCA13', 'PCA14', 'PCA15', 'PCA16', 'PCA17', 'PCA18', 'PCA19', 'PCA20', 'PCA21', 'PCA22', 'PCA23', 'PCA24', 'PCA25', 'PCA26', 'PCA27', 'PCA28', 'PCA29', 'PCA30', 'PCA31', 'PCA32', 'PCA33', 'PCA34', 'PCA35', 'PCA36', 'PCA37', 'PCA38', 'PCA39', 'PCA40', 'PCA41', 'PCA42', 'PCA43', 'PCA44', 'PCA45', 'PCA46', 'PCA47', 'PCA48', 'PCA49', 'PCA50', 'PCA51', 'PCA52', 'PCA53', 'PCA54', 'PCA55', 'PCA56', 'PCA57', 'PCA58', 'PCA59', 'PCA60']

In [368]:
X=[x for x in df_mod.columns if x not in (['ID','Source','TARGET','Target_Class'])]

In [369]:
principalComponents = pca.fit_transform(df_mod[X])

In [370]:
PCAdf = pd.DataFrame(data = principalComponents
             , columns = cols)

In [371]:
PCAdf.shape

(19805, 60)

In [363]:
PCAdf=pd.concat([PCAdf,df_mod[['Target_Class','Source','ID']]],axis=1)

In [364]:
PCAdf.head()

,PCA1,PCA2,PCA3,PCA4,PCA5,PCA6,PCA7,PCA8,PCA9,PCA10,...,PCA54,PCA55,PCA56,PCA57,PCA58,PCA59,PCA60,Target_Class,Source,ID
0,4.181428,-0.910332,-0.773059,-3.198409,-0.181864,0.879681,-4.228720,-1.373046,3.324522,3.316161,...,0.061400,-0.812404,-0.761690,1.078579,0.335950,-1.422055,-0.109000,1.0,train,142882
1,-1.685652,-0.383389,-0.075321,-0.614629,0.477186,0.105510,-0.719912,-0.083094,0.058631,-1.102715,...,0.071200,0.158648,-0.030943,-0.055382,-0.110395,0.176893,0.112657,0.0,train,116073
2,8.967153,-0.920904,-0.540937,-4.761437,1.460299,1.536669,-1.283535,-1.382151,3.431366,5.021589,...,-1.361708,0.602150,-0.491849,-0.095148,-1.336252,-1.119218,-0.355993,0.0,train,40727
3,2.173177,-3.487525,0.665367,3.512412,2.452581,-0.234373,2.982940,0.149269,-0.650143,0.302122,...,1.457192,-0.531510,1.063448,-1.687881,4.049956,-2.881996,5.276844,0.0,train,96753
4,-1.662968,-0.336391,-0.094088,-0.774925,0.574053,0.144891,-0.859432,-0.100304,0.063409,-1.258903,...,0.088683,0.271727,-0.036376,-0.106686,-0.189982,0.205059,0.165925,0.0,train,105319

X=[x for x in df.columns if x not in (['Source','TARGET','Target_Class'])]
X=df[df['Source']=='train'][X]
X.head()

Y=df[df['Source']=='train']['Target_Class']

import sklearn.feature_selection
select=sklearn.feature_selection.SelectKBest(k=50)
selected_features=select.fit(X,Y)
indices_selected=selected_features.get_support(indices=True)
KBest_cols=[X.columns[i] for i in indices_selected]
KBest_cols

KBest_cols.append('Target_Class')
KBest_cols.append('ID')
print(KBest_cols)

df[KBest_cols].head()

%matplotlib inline
pd.crosstab(df['var15'],df['Target_Class']).plot(kind='bar')

train_mod=df_mod[df_mod['Source']=='train']#[KBest_cols].reset_index()
train_mod.drop(columns='Source',axis=1,inplace=True)
test_mod=df_mod[df_mod['Source']=='test']#[KBest_cols].reset_index()
test_mod.drop(columns='Source',axis=1,inplace=True)

In [365]:
train_mod=PCAdf[PCAdf['Source']=='train']#[KBest_cols].reset_index()
train_mod.drop(columns='Source',axis=1,inplace=True)
test_mod=PCAdf[PCAdf['Source']=='test']#[KBest_cols].reset_index()
test_mod.drop(columns='Source',axis=1,inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3694: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [366]:
train_mod.head()

,PCA1,PCA2,PCA3,PCA4,PCA5,PCA6,PCA7,PCA8,PCA9,PCA10,...,PCA53,PCA54,PCA55,PCA56,PCA57,PCA58,PCA59,PCA60,Target_Class,ID
0,4.181428,-0.910332,-0.773059,-3.198409,-0.181864,0.879681,-4.228720,-1.373046,3.324522,3.316161,...,0.322590,0.061400,-0.812404,-0.761690,1.078579,0.335950,-1.422055,-0.109000,1.0,142882
1,-1.685652,-0.383389,-0.075321,-0.614629,0.477186,0.105510,-0.719912,-0.083094,0.058631,-1.102715,...,-0.322633,0.071200,0.158648,-0.030943,-0.055382,-0.110395,0.176893,0.112657,0.0,116073
2,8.967153,-0.920904,-0.540937,-4.761437,1.460299,1.536669,-1.283535,-1.382151,3.431366,5.021589,...,0.634052,-1.361708,0.602150,-0.491849,-0.095148,-1.336252,-1.119218,-0.355993,0.0,40727
3,2.173177,-3.487525,0.665367,3.512412,2.452581,-0.234373,2.982940,0.149269,-0.650143,0.302122,...,1.223442,1.457192,-0.531510,1.063448,-1.687881,4.049956,-2.881996,5.276844,0.0,96753
4,-1.662968,-0.336391,-0.094088,-0.774925,0.574053,0.144891,-0.859432,-0.100304,0.063409,-1.258903,...,-0.366588,0.088683,0.271727,-0.036376,-0.106686,-0.189982,0.205059,0.165925,0.0,105319

In [367]:
train_mod.to_csv("train_mod.csv",index=False)
test_mod.to_csv("test_mod.csv",index=False)

In [372]:
PCARdf=pd.concat([PCAdf,df_mod[['TARGET','Source','ID']]],axis=1)

In [373]:
PCARdf.head()

,PCA1,PCA2,PCA3,PCA4,PCA5,PCA6,PCA7,PCA8,PCA9,PCA10,...,PCA54,PCA55,PCA56,PCA57,PCA58,PCA59,PCA60,TARGET,Source,ID
0,4.181428,-0.910332,-0.773058,-3.198418,-0.181863,0.879686,-4.228714,-1.373065,3.324501,3.316145,...,0.054411,-0.862100,-0.811786,1.193465,0.045853,1.358600,-0.326306,2807855.303,train,142882
1,-1.685652,-0.383388,-0.075322,-0.614618,0.477185,0.105516,-0.719926,-0.083106,0.058637,-1.102720,...,0.133675,0.177432,-0.003739,-0.126920,-0.154356,-0.149925,0.066768,0.000,train,116073
2,8.967153,-0.920902,-0.540939,-4.761434,1.460293,1.536673,-1.283530,-1.382123,3.431358,5.021499,...,-1.233459,0.626069,-0.524091,-0.556759,-1.039813,1.126485,-0.005615,0.000,train,40727
3,2.173177,-3.487526,0.665368,3.512390,2.452570,-0.234370,2.982956,0.149228,-0.650264,0.302113,...,1.615773,-0.605235,0.960930,1.556823,4.631565,2.480143,4.867966,0.000,train,96753
4,-1.662968,-0.336390,-0.094089,-0.774914,0.574052,0.144897,-0.859444,-0.100315,0.063414,-1.258905,...,0.150047,0.288643,-0.012027,-0.182712,-0.209814,-0.170569,0.143601,0.000,train,105319

In [374]:
trainr_mod=PCARdf[PCARdf['Source']=='train']#[KBest_cols].reset_index()
trainr_mod.drop(columns='Source',axis=1,inplace=True)
testr_mod=PCARdf[PCARdf['Source']=='test']#[KBest_cols].reset_index()
testr_mod.drop(columns='Source',axis=1,inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3694: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [375]:
trainr_mod.to_csv("trainr_mod.csv",index=False)