In [1]:
import pandas as pd

In [22]:
df=pd.read_csv(r'C:\Users\explo\Documents\GitHub\Inceptez\Batch-6\12-Data Preprocessing\adult.csv', na_values=['#NAME?','?'])

In [23]:
df

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39.0,State-gov,77516.0,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50.0,Self-emp-not-inc,83311.0,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38.0,Private,215646.0,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53.0,Private,234721.0,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,NaN,0,0,40,United-States,<=50K
4,28.0,Private,338409.0,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37.0,Private,284582.0,Masters,14.0,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49.0,Private,160187.0,9th,5.0,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52.0,Self-emp-not-inc,209642.0,HS-grad,9.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31.0,Private,45781.0,Masters,14.0,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42.0,Private,159449.0,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37.0,Private,280464.0,Some-college,10.0,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30.0,State-gov,141297.0,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
12,23.0,Private,122272.0,Bachelors,13.0,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
13,32.0,Private,205019.0,Assoc-acdm,12.0,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
14,40.0,Private,121772.0,Assoc-voc,11.0,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,NaN,>50K
15,34.0,Private,245487.0,7th-8th,4.0,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
16,NaN,Self-emp-not-inc,NaN,HS-grad,9.0,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
17,32.0,Private,186824.0,HS-grad,9.0,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
18,38.0,Private,28887.0,11th,7.0,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
19,43.0,Self-emp-not-inc,292175.0,Masters,14.0,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
20,NaN,Private,193524.0,Doctorate,16.0,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
21,54.0,Private,302146.0,HS-grad,9.0,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K
22,35.0,Federal-gov,76845.0,9th,5.0,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
23,43.0,Private,117037.0,11th,7.0,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
24,59.0,Private,109015.0,HS-grad,9.0,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K
25,56.0,Local-gov,216851.0,Bachelors,13.0,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
26,19.0,Private,168294.0,HS-grad,9.0,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
27,54.0,NaN,180211.0,Some-college,10.0,Married-civ-spouse,NaN,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
28,39.0,Private,367260.0,NaN,NaN,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
29,49.0,Private,193366.0,HS-grad,9.0,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,51.0,NaN,203953.0,HS-grad,9.0,Married-civ-spouse,NaN,Husband,White,Male,0,0,40,United-States,>50K
4971,46.0,State-gov,29696.0,HS-grad,9.0,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,United-States,<=50K
4972,30.0,Private,315640.0,Doctorate,16.0,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,1977,40,China,>50K
4973,37.0,Private,632613.0,10th,6.0,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,35,Mexico,<=50K
4974,56.0,Private,282023.0,Prof-school,15.0,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,45,United-States,>50K
4975,29.0,Private,77760.0,HS-grad,9.0,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,45,United-States,<=50K
4976,46.0,Self-emp-not-inc,148599.0,Masters,14.0,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,>50K
4977,55.0,Private,414994.0,HS-grad,9.0,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
4978,45.0,Private,339863.0,Bachelors,13.0,Divorced,Sales,Not-in-family,White,Male,8614,0,48,United-States,>50K
4979,34.0,Private,499249.0,HS-grad,9.0,Married-spouse-absent,Handlers-cleaners,Not-in-family,White,Male,0,0,40,Guatemala,<=50K
4980,45.0,NaN,144354.0,9th,5.0,Separated,NaN,Own-child,Black,Male,0,0,40,United-States,<=50K
4981,41.0,Private,252058.0,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,0,0,40,United-States,<=50K
4982,22.0,NaN,99543.0,Some-college,10.0,Never-married,NaN,Own-child,NaN,Male,0,0,20,United-States,<=50K
4983,34.0,Private,117963.0,Prof-school,15.0,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,>50K
4984,27.0,Private,194652.0,HS-grad,9.0,Never-married,Craft-repair,Own-child,Black,Male,0,0,40,United-States,<=50K
4985,29.0,Private,299705.0,Some-college,10.0,Never-married,Handlers-cleaners,Unmarried,Black,Male,0,0,37,United-States,<=50K
4986,19.0,Federal-gov,27433.0,12th,8.0,Never-married,Other-service,Own-child,White,Female,0,0,30,United-States,<=50K
4987,47.0,Local-gov,39986.0,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
4988,43.0,Self-emp-inc,135342.0,Some-college,10.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
4989,52.0,Private,270142.0,Assoc-voc,11.0,Separated,Exec-managerial,Unmarried,Black,Female,0,0,60,United-States,<=50K
4990,33.0,Self-emp-not-inc,118267.0,Assoc-acdm,12.0,Divorced,Sales,Not-in-family,White,Male,0,0,60,United-States,<=50K
4991,29.0,Private,266043.0,9th,5.0,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,United-States,<=50K
4992,23.0,Private,35633.0,HS-grad,9.0,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,40,United-States,<=50K
4993,23.0,Private,74568.0,Some-college,10.0,Never-married,Exec-managerial,Not-in-family,White,Male,0,0,40,United-States,<=50K
4994,39.0,Private,214816.0,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,<=50K
4995,43.0,Private,222971.0,5th-6th,3.0,Never-married,Machine-op-inspct,Unmarried,White,Female,0,0,40,Mexico,<=50K
4996,31.0,Private,259425.0,HS-grad,9.0,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,>50K
4997,47.0,Self-emp-inc,212120.0,HS-grad,9.0,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,>50K
4998,NaN,Private,245880.0,HS-grad,9.0,Never-married,Adm-clerical,Not-in-family,White,Male,0,0,60,United-States,<=50K
4999,58.0,Local-gov,54947.0,Some-college,10.0,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,55,United-States,<=50K

In [24]:
df.shape

(5000, 15)

In [25]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education_num',
       'marital_status', 'occupation', 'relationship', 'race', 'sex',
       'capital_gain', 'capital_loss', 'hours_per_week', 'native_country',
       'income'],
      dtype='object')

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 15 columns):
age               4952 non-null float64
workclass         4669 non-null object
fnlwgt            4893 non-null float64
education         4943 non-null object
education_num     4943 non-null float64
marital_status    5000 non-null object
occupation        4669 non-null object
relationship      5000 non-null object
race              4736 non-null object
sex               4953 non-null object
capital_gain      5000 non-null int64
capital_loss      5000 non-null int64
hours_per_week    5000 non-null int64
native_country    4903 non-null object
income            5000 non-null object
dtypes: float64(3), int64(3), object(9)
memory usage: 586.0+ KB

In [69]:
df.describe()

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week
count,4952.000000,4.893000e+03,4943.000000,5000.000000,5000.000000,5000.000000
mean,38.586430,1.909752e+05,10.080316,1033.640200,93.696800,40.519000
std,13.582256,1.065747e+05,2.535268,7051.802077,410.801418,12.109193
min,17.000000,1.930200e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.177470e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.795330e+05,10.000000,0.000000,0.000000,40.000000
75%,47.000000,2.418950e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.033222e+06,16.000000,99999.000000,2547.000000,99.000000

In [70]:
df.describe(include="object")

,workclass,education,marital_status,occupation,relationship,race,sex,native_country,income
count,4669,4943,5000,4669,5000,4736,4953,4903,5000
unique,7,16,7,14,6,5,2,39,2
top,Private,HS-grad,Married-civ-spouse,Prof-specialty,Husband,White,Male,United-States,<=50K
freq,3435,1597,2270,625,2001,4021,3332,4465,3779

In [71]:
df.isna().sum()

age                48
workclass         331
fnlwgt            107
education          57
education_num      57
marital_status      0
occupation        331
relationship        0
race              264
sex                47
capital_gain        0
capital_loss        0
hours_per_week      0
native_country     97
income              0
dtype: int64

In [63]:
du={}
for col in df.columns:
    if df[col].dtype=="object":
        print(col+" - "+str(df[col].unique()))
        du[col]=df[col].unique()
        for i in df[col].unique():
            if df[col]

workclass - ['State-gov' 'Self-emp-not-inc' 'Private' 'Federal-gov' 'Local-gov' nan
 'Self-emp-inc' 'Without-pay']
education - ['Bachelors' 'HS-grad' '11th' 'Masters' '9th' 'Some-college' 'Assoc-acdm'
 'Assoc-voc' '7th-8th' 'Doctorate' nan 'Prof-school' '5th-6th' '10th'
 '1st-4th' 'Preschool' '12th']
marital_status - ['Never-married' 'Married-civ-spouse' 'Divorced' 'Married-spouse-absent'
 'Separated' 'Married-AF-spouse' 'Widowed']
occupation - ['Adm-clerical' 'Exec-managerial' 'Handlers-cleaners' 'Prof-specialty'
 'Other-service' 'Sales' 'Craft-repair' 'Transport-moving'
 'Farming-fishing' 'Machine-op-inspct' 'Tech-support' nan
 'Protective-serv' 'Armed-Forces' 'Priv-house-serv']
relationship - ['Not-in-family' 'Husband' 'Wife' 'Own-child' 'Unmarried' 'Other-relative']
race - ['White' 'Black' 'Asian-Pac-Islander' 'Amer-Indian-Eskimo' nan 'Other']
sex - ['Male' nan 'Female']
native_country - ['United-States' 'Cuba' 'Jamaica' 'India' nan 'Mexico' 'South'
 'Puerto-Rico' 'Honduras' 'England' 'Canada' 'Germany' 'Iran'
 'Philippines' 'Italy' 'Poland' 'Columbia' 'Cambodia' 'Thailand' 'Ecuador'
 'Laos' 'Taiwan' 'Haiti' 'Portugal' 'Dominican-Republic' 'El-Salvador'
 'France' 'Guatemala' 'China' 'Japan' 'Yugoslavia' 'Peru'
 'Outlying-US(Guam-USVI-etc)' 'Scotland' 'Trinadad&Tobago' 'Greece'
 'Nicaragua' 'Vietnam' 'Hong' 'Ireland']
income - ['<=50K' '>50K']

dict_keys(['workclass', 'education', 'marital_status', 'occupation', 'relationship', 'race', 'sex', 'native_country', 'income'])